<div class="row padding-0 margin-0">
    <div class="interpolations col-xs-3 col-sm-3 col-lg-3 margin-0" style="background-color:#2E3437">
        <div id="buttons" class="buttons">
            <small>Line Interpolations</small>
            <br/>
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(0)" data-toggle="tooltip" data-placement="right" title="piecewise linear segments, as in a polyline."><img src="images/i0.png"></button><!-- linear -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(1)" data-toggle="tooltip" data-placement="right" title="alternate between vertical and horizontal segments, as in a step function."><img src="images/i1.png"></button><!-- step-before -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(2)" data-toggle="tooltip" data-placement="right" title="alternate between horizontal and vertical segments, as in a step function."><img src="images/i2.png"></button><!-- step-after -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(3)" data-toggle="tooltip" data-placement="right" title="a B-spline, with control point duplication on the ends."><img src="images/i3.png"></button><!-- basis -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(4)" data-toggle="tooltip" data-placement="right" title="an open B-spline; may not intersect the start or end."><img src="images/i4.png"></button><!-- basis-open -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(5)" data-toggle="tooltip" data-placement="right" title="a closed B-spline, as in a loop."><img src="images/i5.png"></button><!-- basis-closed -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(6)" data-toggle="tooltip" data-placement="right" title="equivalent to basis, except the tension parameter is used to straighten the spline."><img src="images/i6.png"></button><!-- bundle -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(7)" data-toggle="tooltip" data-placement="right" title="a Cardinal spline, with control point duplication on the ends."><img src="images/i7.png"></button><!-- cardinal -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(8)" data-toggle="tooltip" data-placement="right" title="an open Cardinal spline; may not intersect the start or end, but will intersect other control points."><img src="images/i8.png"></button><!-- cardinal-open -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(9)" data-toggle="tooltip" data-placement="right" title="a closed Cardinal spline, as in a loop."><img src="images/i9.png"></button><!-- cardinal-closed -->
            <button type="button" class="btn btn-default it" ng-click="setInterpolation(10)" data-toggle="tooltip" data-placement="right" title="cubic interpolation that preserves monotonicity in y."><img src="images/i10.png"></button><!-- monotone -->
            <div style="margin:10px 0;">
                <ng-farbtastic ng-model="drawingParams.activeColor" id="color-picker">
                </ng-farbtastic>
            </div>
            <div style="margin-top:5px;">
                <toggle ng-model="drawingParams.lineFill"  on="<i class='fa fa-minus'></i> open lines" off="<i class='fa fa-tint'></i> closed lines"></toggle>
                <toggle ng-model="drawingParams.bgFill" onstyle="btn-white" offstyle="btn-black" on="white canvas" off="black canvas"></toggle>
            </div>
            <div>
                <small>Line style</small>
                <br/>
                <img class="img-btn" src="images/dash1.png" ng-click="setDash(0)">
                <br>
                <img class="img-btn" src="images/dash2.png" ng-click="setDash(1)">
                <br>
                <img class="img-btn" src="images/dash3.png" ng-click="setDash(2)">
                <br>
                <img class="img-btn" src="images/dash4.png" ng-click="setDash(3)">
                <br>
                <img class="img-btn" src="images/dash5.png" ng-click="setDash(4)">
                <br>
                <img class="img-btn" src="images/dash6.png" ng-click="setDash(5)">
                <br>
                <img class="img-btn" src="images/dash7.png" ng-click="setDash(6)">
                <br>
                <img class="img-btn" src="images/dash8.png" ng-click="setDash(7)">
                <br>
                <img class="img-btn" src="images/dash9.png" ng-click="setDash(8)">
                <br>
                <img class="img-btn" src="images/dash10.png" ng-click="setDash(9)">
            </div>
            <div>
                <small>Line Width</small>
                <br/>
                <slider ng-model="drawingParams.lineWidth" min="slider.min" step="slider.step" max="slider.max" value="slider.value"></slider>
            </div>
            <div>
                <small>Divide cricle by</small>
                <br/>
                <div class="btn-group" role="group" aria-label="slices1">
                    <button type="button" class="btn btn-default" ng-click="setDivider(15)">24</button>
                    <button type="button" class="btn btn-default" ng-click="setDivider(20)">18</button>
                    <button type="button" class="btn btn-default" ng-click="setDivider(30)">12</button>
                    <button type="button" class="btn btn-default" ng-click="setDivider(36)">10</button>
                </div>
                <div class="btn-group" role="group" aria-label="slices1">
                    <button type="button" class="btn btn-default" ng-click="setDivider(45)">8</button>
                    <button type="button" class="btn btn-default" ng-click="setDivider(60)">6</button>
                    <button type="button" class="btn btn-default" ng-click="setDivider(90)">4</button>
                    <button type="button" class="btn btn-default" ng-click="setDivider(180)">2</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-8 col-lg-8 padding-0 margin-0">
        <canvas width="800" height="800" id="comp-canvas" class="comp-canvas"></canvas>
        <d3-draw ng-model="drawingParams"></d3-draw>
        <svg class="svg" id="ui"></svg>
    </div>
</div>
<canvas id="output-canvas" width="1600" height="1600" style="display:none"></canvas>
